aside#features
  header(data-title="Menu")
    nav.left
      a(href="#", class="buttons", data-icon="list-th")    

  article.active.list
    ul
      li.current
        a(href="#timeline", data-router="section", data-icon="list-alt")
          strong   Timeline
      li
        a(href="#schedule", data-router="section", data-icon="calendar")
          strong   Horario
      li
        a(href="#about", data-router="section", data-icon="road")
          strong  Abriendo Caminos
      li
        a(href="#about", data-router="section", data-icon="group")
          strong   TEDxTegucigalpa
      li
        a( href="#settings", data-router="section", data-icon="cogs")
          strong   Ajustes
      li
        a(href="#about", data-router="section", data-icon="bullhorn")
          strong   Acerca
