doctype5
html
  head
    meta(charset="utf-8")
    title TEDxTegucigalpa 2013 :: Abriendo Caminos
    meta(name="description", content="")
    meta(name="author", content="Revls")
    meta(name="HandheldFriendly", content="True")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="format-detection", content="telephone=no")
    meta(name="token.ig",content="329197460.f59def8.283ef3285f2847d0b810dd549f2cf292")
    meta(http-equiv="cleartype", content="on")
    link(rel="stylesheet",href="build/vendor.css")
    link(rel="stylesheet",href="build/app.css")
    link(rel="apple-touch-icon", href="apple-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="apple-touch-icon-ipad.png" )
    link(rel="apple-touch-icon", sizes="114x114", href="apple-touch-icon-iphone-retina-display.png")
  body.app
    //- include splash
    include home
    include timeline
    include aside
    include horario
    #templates
        include templates
    include scripts

