article.list.scroll.indented.timeline.active
  ul#list
    li.img
      img(src="http://farm9.staticflickr.com/8304/7845631688_00662d6f09_z.jpg")
      h2
        span
          strong.user @samuel3r: 
          | Parte del staff en #TEDxTegucigalpa
    li.txt(data-image="https://twimg0-a.akamaihd.net/profile_images/3065547438/d41330f7fdefe40969c0263705d9ba24_normal.jpeg")
      .right hace 2 min
      strong @_alejandromg dijo:
      small Abriendo caminos y llegando a #TEDxTegucigalpa.    

    li.img
      img(src="http://farm9.staticflickr.com/8428/7845582266_e127868529_z.jpg")
      h2
        span
          strong.user @staff: 
          | Transmitiendo en vivo
    li.img
      img(src="http://farm9.staticflickr.com/8432/7845613290_4575ec7f50_z.jpg")
      h2
        span
          strong.user @shirley: 
          | Shirley Paz deleitandonos con música en vivo
      
